<div class="container">
  <div class="row">
    <div class="mt-5 col-6 offset-3">
      <div class="card mt-5" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title text-center">Contador</h5>
          <p class="text-center card-text fs-4">{{ valueContador }}</p>

          <div class="text-center">
            <button 
              class="mx-1 btn btn-sm btn-success" 
              (click)="actionNumberChange('plus', contador)">Aumentar</button>
            <button 
              class="btn btn-sm btn-primary" 
              (click)="actionNumberChange('minus', contador)">Disminuir</button>

            <button
              class="btn btn-sm btn-danger"
              (click)="onClearCounter()"
            >
              Limpiar Contador
            </button>
            
          </div>
         
        </div>
      </div>
    </div>

  </div>

</div>

